html {
	font: 5vmin/1.3 Serif;
	overflow: hidden;
	background: #123;
}

body,
head {
	display: block;
	font-size: 52px;
	color: transparent;
}

head::before,
head::after,
body::before,
body::after {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 3em;
	height: 3em;
	content: ".";
	mix-blend-mode: screen;
	animation: 44s -27s move infinite ease-in-out alternate;
}

body::before {
	text-shadow: 2.4859208863em 1.2315638112em 7px #2ea8ff,
		2.1340556911em 0.1256049274em 7px #2ea8ff,
		1.0038468861em 1.8563668656em 7px #2ea8ff,
		-0.4655100669em 0.4684417124em 7px #2ea8ff,
		0.1233871928em 2.4831286404em 7px #2ea8ff,
		0.0813300045em 0.0252964427em 7px #2ea8ff,
		1.4386362403em 1.9651035708em 7px #2ea8ff,
		2.4728757936em 2.0580836022em 7px #2ea8ff,
		0.7256661754em 0.5877832794em 7px #2ea8ff,
		2.4841852824em 0.6701873195em 7px #2ea8ff,
		1.4320494285em 1.6693066713em 7px #2ea8ff,
		0.8903948049em 1.8912683227em 7px #2ea8ff,
		2.1238137568em 2.0781328986em 7px #2ea8ff,
		1.3746833907em 0.4758939371em 7px #2ea8ff,
		2.3834936575em -0.4685112372em 7px #2ea8ff,
		-0.1076263368em 1.6138564324em 7px #2ea8ff,
		2.3217826535em 0.2568624692em 7px #2ea8ff,
		1.7899407981em -0.2015138439em 7px #2ea8ff,
		2.3188135022em 0.1688259681em 7px #2ea8ff,
		1.5885734475em 1.4164126788em 7px #2ea8ff,
		1.2457617732em 0.0774703633em 7px #2ea8ff,
		1.6851453894em 2.2351982071em 7px #2ea8ff,
		0.8498853225em 1.0975600129em 7px #2ea8ff,
		1.4731257385em 0.0285145661em 7px #2ea8ff,
		-0.158246345em 1.3379586194em 7px #2ea8ff,
		2.421784055em 2.2525423182em 7px #2ea8ff,
		-0.370629409em 0.6263046024em 7px #2ea8ff,
		0.6068380875em 2.1841849448em 7px #2ea8ff,
		1.4161343561em 0.2280774623em 7px #2ea8ff,
		1.1628335199em 0.1247986165em 7px #2ea8ff,
		-0.005711048em -0.2795995961em 7px #2ea8ff,
		-0.2617227329em -0.3543436771em 7px #2ea8ff,
		-0.0734526211em 0.1221204359em 7px #2ea8ff,
		1.7432245708em 1.8618096629em 7px #2ea8ff,
		2.4056005539em 0.9199448225em 7px #2ea8ff,
		1.6848235875em 0.3257780233em 7px #2ea8ff,
		0.2251418063em 2.1434442385em 7px #2ea8ff,
		1.6388245024em 0.9730242568em 7px #2ea8ff,
		-0.3072378608em 0.0400829273em 7px #2ea8ff,
		0.1284029098em -0.2368295695em 7px #2ea8ff,
		2.0222427568em 1.6429731723em 7px #2ea8ff;
	animation-duration: 44s;
	animation-delay: -27s;
}

body::after {
	text-shadow: 0.6452788402em 1.8980011062em 7px #2ea8ff,
		1.9303656251em 1.7932990239em 7px #2ea8ff,
		1.7971884765em 0.2782694254em 7px #2ea8ff,
		2.4264861663em 0.5931898773em 7px #2ea8ff,
		1.807127482em 0.7419418778em 7px #2ea8ff,
		0.9286192507em -0.3946715904em 7px #2ea8ff,
		0.7044868095em 0.2094922275em 7px #2ea8ff,
		0.9193412819em 0.2339092084em 7px #2ea8ff,
		0.7668441816em 1.2943941479em 7px #2ea8ff,
		0.9502716074em 0.7316648895em 7px #2ea8ff,
		1.2374262739em 1.7203988488em 7px #2ea8ff,
		2.2529234314em 2.0462287784em 7px #2ea8ff,
		1.1133165059em -0.4644649547em 7px #2ea8ff,
		2.456392783em 2.0757760037em 7px #2ea8ff,
		1.6672926655em -0.3845495881em 7px #2ea8ff,
		0.6831496703em 2.4861861602em 7px #2ea8ff,
		1.9489939328em 0.5181822632em 7px #2ea8ff,
		1.3838229754em 2.0437395668em 7px #2ea8ff,
		1.5510446489em 1.4532411042em 7px #2ea8ff,
		0.436160553em 2.2897079878em 7px #2ea8ff,
		0.0508059357em 0.7242558609em 7px #2ea8ff,
		1.3078878964em 0.448056745em 7px #2ea8ff,
		0.6608929569em 1.7404996444em 7px #2ea8ff,
		1.8666589326em 1.0361487464em 7px #2ea8ff,
		1.5765935998em 1.8285049638em 7px #2ea8ff,
		1.0007741768em 2.0402174729em 7px #2ea8ff,
		1.9401972062em 0.2996660894em 7px #2ea8ff,
		0.8384614002em 2.1139277701em 7px #2ea8ff,
		-0.4652643711em 0.8795560987em 7px #2ea8ff,
		0.7645460156em 0.4020711617em 7px #2ea8ff,
		0.2528343052em -0.478060235em 7px #2ea8ff,
		1.9652596894em 0.433933011em 7px #2ea8ff,
		-0.4736199396em 0.3260270232em 7px #2ea8ff,
		0.2303242142em -0.1477280172em 7px #2ea8ff,
		0.5754552481em 1.7396611407em 7px #2ea8ff,
		2.2640048479em -0.3337980071em 7px #2ea8ff,
		2.2404742012em 2.1448818456em 7px #2ea8ff,
		0.2441918661em -0.1049798022em 7px #2ea8ff,
		2.0608446903em 0.3258985234em 7px #2ea8ff,
		0.0045546874em 0.6592278662em 7px #2ea8ff,
		-0.2410511375em -0.1087174763em 7px #2ea8ff;
	animation-duration: 43s;
	animation-delay: -32s;
}

head::before {
	text-shadow: 2.4029833182em 1.7030933077em 7px #2ea8ff,
		0.141484842em 1.8961810503em 7px #2ea8ff,
		0.6784197088em 1.8609745429em 7px #2ea8ff,
		2.3644584441em 1.118469982em 7px #2ea8ff,
		0.1342336781em -0.2128454012em 7px #2ea8ff,
		0.1184458877em 2.4612656586em 7px #2ea8ff,
		-0.0552050949em 0.9986335714em 7px #2ea8ff,
		1.5237768151em -0.3851155024em 7px #2ea8ff,
		0.3751505424em 2.1453828883em 7px #2ea8ff,
		1.8074264032em 0.2627864428em 7px #2ea8ff,
		1.6666856503em -0.3098026361em 7px #2ea8ff,
		1.0812539996em 2.4423522842em 7px #2ea8ff,
		0.0420239043em 1.5421996041em 7px #2ea8ff,
		1.4880258527em 1.8303279918em 7px #2ea8ff,
		2.0793516071em 0.0846786955em 7px #2ea8ff,
		1.6224942772em -0.263392313em 7px #2ea8ff,
		0.415246741em 2.0990775804em 7px #2ea8ff,
		1.0173661077em 1.1172960398em 7px #2ea8ff,
		1.1811487737em 1.0330092866em 7px #2ea8ff,
		1.326061877em 0.5507706876em 7px #2ea8ff,
		1.7728307084em 0.946591289em 7px #2ea8ff,
		1.6235929666em -0.0126204462em 7px #2ea8ff,
		0.9208520266em -0.0017302406em 7px #2ea8ff,
		2.4431957044em 0.1514666159em 7px #2ea8ff,
		-0.3484041115em 1.7627602146em 7px #2ea8ff,
		-0.2913531416em -0.454536149em 7px #2ea8ff,
		0.1395959727em 1.5955402662em 7px #2ea8ff,
		1.5467825777em 0.556886216em 7px #2ea8ff,
		1.954033497em 0.3322705465em 7px #2ea8ff,
		0.1667652321em 0.3401897152em 7px #2ea8ff,
		1.4553185699em -0.1960779556em 7px #2ea8ff,
		1.7164086114em -0.2938612806em 7px #2ea8ff,
		1.9226219667em 2.2457369499em 7px #2ea8ff,
		2.0868021556em -0.2050282118em 7px #2ea8ff,
		0.5157610689em 1.374850972em 7px #2ea8ff,
		1.4449916448em 2.3235212833em 7px #2ea8ff,
		1.2133831528em 1.7870317528em 7px #2ea8ff,
		0.5345882412em 0.6565276791em 7px #2ea8ff,
		1.2485495182em 0.2282660824em 7px #2ea8ff,
		0.4722697638em 0.2499772232em 7px #2ea8ff,
		1.3559192812em -0.2914842228em 7px #2ea8ff;
	animation-duration: 42s;
	animation-delay: -23s;
}

head::after {
	text-shadow: 1.6134245782em 1.6856966446em 7px #2ea8ff,
		-0.0445007608em 0.8261406035em 7px #2ea8ff,
		-0.1459754073em 1.7523139243em 7px #2ea8ff,
		0.2628905327em 1.3333806412em 7px #2ea8ff,
		2.0581370248em 1.9958240463em 7px #2ea8ff,
		0.0600812324em -0.0685247221em 7px #2ea8ff,
		1.3881928823em 0.6954032423em 7px #2ea8ff,
		0.3705079998em 0.7028075908em 7px #2ea8ff,
		-0.1243014682em 1.9120818114em 7px #2ea8ff,
		1.3461316493em 1.553777947em 7px #2ea8ff,
		2.4981150569em 0.875631169em 7px #2ea8ff,
		-0.3011217303em 1.0599752704em 7px #2ea8ff,
		0.8930083724em 2.4904966707em 7px #2ea8ff,
		-0.2259148809em 0.0035644909em 7px #2ea8ff,
		-0.4677823032em 1.6987575213em 7px #2ea8ff,
		0.2011015845em 0.1539563797em 7px #2ea8ff,
		2.4695886415em 0.1909566141em 7px #2ea8ff,
		-0.4966283441em 1.5474564746em 7px #2ea8ff,
		0.7710629052em 0.7312296865em 7px #2ea8ff,
		0.4071283887em 1.0960689274em 7px #2ea8ff,
		-0.0401193871em -0.3122010268em 7px #2ea8ff,
		1.3903442835em 0.3559751076em 7px #2ea8ff,
		-0.1884249174em 0.7146960158em 7px #2ea8ff,
		1.7736435012em 0.8220680013em 7px #2ea8ff,
		0.2795697949em 0.7680440833em 7px #2ea8ff,
		1.8304770997em 1.4596517861em 7px #2ea8ff,
		-0.125716317em 0.8929715813em 7px #2ea8ff,
		-0.4701801959em 0.5408258791em 7px #2ea8ff,
		1.2059396898em 0.7884928563em 7px #2ea8ff,
		1.1084758644em 1.0797425817em 7px #2ea8ff,
		1.1686474281em 2.4912925141em 7px #2ea8ff,
		0.2219704188em 0.1269081847em 7px #2ea8ff,
		0.3118851324em 1.8839547504em 7px #2ea8ff,
		0.6981783281em 2.3139091723em 7px #2ea8ff,
		-0.4386150811em -0.4035451421em 7px #2ea8ff,
		2.2992246034em -0.2268691088em 7px #2ea8ff,
		-0.1814593294em 0.7582872722em 7px #2ea8ff,
		2.1719353963em -0.3976515612em 7px #2ea8ff,
		1.0995916104em 1.4846805142em 7px #2ea8ff,
		-0.1940453214em 1.747773542em 7px #2ea8ff,
		1.4293903504em 2.4814846008em 7px #2ea8ff;
	animation-duration: 41s;
	animation-delay: -19s;
}

@keyframes move {
	from {
		transform: rotate(0deg) scale(12) translateX(-20px);
	}
	to {
		transform: rotate(360deg) scale(18) translateX(20px);
	}
}
