@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
	background-color: black;
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

.logo {
	overflow: visible;
	position: absolute;
	left: 1vw;
	top: auto;
	height: 40px;
	width: auto;

	transition: 0.25s;
}

.logo:hover {
	margin: 15px 0 0 5px;
	transform: scale(1.5);
}

/* .logo:before {
	content: "";
	background: red;
	position: absolute;

	display: flex;

	width: 50px;
	height: 50px;
} */

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0px 0px 0px 0px;

	width: 100vw;
	height: 60px;
	position: fixed;
	top: 0;
	/* background: rgba(206, 206, 206, 0.219);
	 */

	background-image: linear-gradient(
		0deg,
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0.3)
	);

	/* box-shadow: 0px 10px 20px -5px #858585; */
	transition: 0.5s;
	z-index: 10;
}

/* .navbar:after {
	content: "";
	position: absolute;
	top: 10vh;
	left: 0;
	width: 100%;
	height: 5vh;
	background-image: linear-gradient(180deg, rgba(141, 141, 141, 0.3), white);

	 z-index: -1;
}*/

.navbar ul {
	width: 90vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar ul li {
	position: relative;

	list-style: none;
	display: inline-block;
	padding: 0 1vw;

	text-transform: uppercase;

	transition: 1s;
}

.navbar ul li a {
	color: #2ea8ff;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
	padding: 0 10px;

	transition: 0.6s;
}

.navbar ul:hover li a {
	transform: scale(1.5);
	opacity: 0.75;
	filter: blur(1px);
}

.navbar ul li a:hover {
	color: white;
	transform: scale(2);
	opacity: 1;
	filter: blur(0);
}

.navbar ul li a:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #2ea8ff;
	transition: transform 0.5s;
	transform-origin: right;
	transform: scaleX(0);
	z-index: -1;

	border-radius: 100vh;
}

.navbar ul li a:hover:before {
	transition: transform 0.5s;
	transform-origin: left;
	transform: scaleX(1);
}

.navbar-elements {
	width: fit-content;
}

.backdrop {
	/* display: flex;
	justify-content: center;
	align-items: center; */

	position: relative;
	width: 100%;
	height: 100vh;
	background: url(/car.jpg);
	background-size: cover;
}

nav.navbar.sticky {
	background: rgba(255, 255, 255, 0.2);
}

.title {
	font-size: 5vw;

	/* text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000; */
	text-shadow: 0px 0px 5px rgb(105, 105, 105);

	margin-left: 15vw;
	margin-right: 15vw;

	position: sticky;

	color: #fff;
	font-weight: normal;

	text-align: center;
	transform: translateY(35vh);
}

@keyframes sheen {
	0% {
		transform: skewY(-45deg) translateX(0);
	}
	100% {
		transform: skewY(-45deg) translateX(12.5em);
	}
}

.newbutton {
	position: sticky;
	transform: translateY(38vh);

	width: 100vw;

	display: flex;
	justify-content: center;
	align-items: center;

	text-transform: uppercase;
}

.button2 {
	/* padding: 0.75em 2em; */
	padding: 3px 3vw 3px 3vw;

	text-align: center;
	text-decoration: none;
	color: #fff;
	border: 3px solid #2ea8ff;
	font-size: 24px;
	display: inline-block;
	border-radius: 0.5em;
	transition: all 0.2s ease-in-out;
	position: relative;
	overflow: hidden;
}

.button2:before {
	content: "";
	background-color: rgba(255, 255, 255, 0.5);
	height: 100%;
	width: 3em;
	display: block;
	position: absolute;
	top: 0;
	left: -4.5em;
	transform: skewX(-45deg) translateX(0);
	transition: none;
}

.button2:hover {
	background-color: #2ea8ff;
	color: #fff;
	border-bottom: 4px solid darken(#2ea8ff, 10%);
}

.button2:hover:before {
	transform: skewX(-45deg) translateX(13.5em);
	transition: all 0.5s ease-in-out;
}

footer {
	display: block;
	overflow: auto;

	width: 100vw;
	height: 50px;

	background-image: linear-gradient(0deg, rgba(78, 78, 78, 0.5), transparent);
}

.socials {
	float: right;
}

.socials ul {
	list-style: none;
	text-decoration: none;
	display: flex;

	position: relative;
	margin: 10px 30px;
}

.socials ul li {
	margin: 0 5px;
	height: 30px;
	line-height: 30px;
}

.icon {
	padding: 5px;
	border: white solid 1px;
	border-radius: 100%;
	color: white;
	text-align: center;
	transition: 0.5s;
}

.icon:hover {
	border-color: #2ea8ff;
	background-color: #2ea8ff;
	color: black;
}

.leftFooter {
	float: left;
	width: auto;
	margin: auto;
	padding-left: 10px;
}

.leftFooter p {
	margin: 0;
	line-height: 50px;

	width: fit-content;
	color: white;
}
